body{
    background-color: rgb(227, 248, 148);
}
section{
    height: 30vh;
    display: flex;
    align-items: center;
    
}
div{
    max-width: 700px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 5px;
    line-height: 1.3;

}
button{
    padding: 10px 45px;
    border: none;
    background-color: rgb(250, 51, 51);;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;

}
button:hover{
    background-color: rgb(255, 4, 4);
    color: white;
}